bcrypt
beautifulsoup4
better-profanity
clean-text
flask-cors
flask-restx==1.1.0
flask==2.3.3
flask_jwt_extended
flask_restplus
html2text
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
pymongo
werkzeug
python-dateutil
python-dotenv